@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
@import "tailwindcss";

@theme {
    --font-inter: "Press Start 2P", system-ui;
    --font-pokemon: 'Pokemon Solid', sans-serif;
}

.pokemon-text {
  color: #FFCC00; /* Yellow */
  -webkit-text-stroke: 1px #3466AF; /* Thick Blue Border */
  text-shadow: 2px 2px 0 #3466AF; /* Soft shadow for depth */
}
